div,
p,
span,
i,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
ul,
li,
a,
img {
  padding: 0;
  margin: 0;
}

* {
  outline: 1px solid #ddd;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}