  @import 'base';
  @import 'sidebar';
  body {
    background-color: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  }

  #navbar {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    margin-bottom: 0px;
    &.navbar-default {
      border-bottom: 1px solid #e8e8e8;
    }
    .navbar-brand {
      margin-top: -10px;
      img {
        width: 40px;
        display: inline-block;
        margin-top: -20px;
        margin-right: 5px;
      }
      .text {
        padding-left: 0px;
        display: inline-block;
        .web-name {
          font-size: 16px;
          color: #da552f;
          font-weight: 600;
        }
        .web-des {
          font-size: 13px;
          color: #999;
        }
      }
    }
    #form {
      position: absolute;
      left: 50%;
      margin-left: -150px;
      width: 280px;
      top: 2px;
      .navbar-form {
        position: relative;
        margin: 5px 0 0;
        width: 280px;
        outline: none;
        i {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          color: #999;
          font-size: 20px;
        }
        input {
          width: 100%;
          box-shadow: none;
          &:hover,
          &:focus {
            outline: none;
            border-color: #ddd;
          }
          &.form-control {
            padding: 6px 30px;
            outline: none;
          }
        }
      }
    }
    #form-modal {
      // position: relative;
      .modal-dialog {
        // width: 600px;
        margin: 10px auto;
      }
      .modal-header {
        position: relative;
        border-bottom: none;
        .search-form {
          padding-left: 30px;
          position: relative;
          width: 100%;
          .fa-search {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 16px;
            margin-top: 2px;
            color: #999;
          }
          #search-input {
            position: absolute;
            top: 0;
            left: 24px;
            width: 90%;
            border: none;
            outline: none;
          }
        }
      }
      .modal-content {
        box-shadow: none;
        border-radius: 3px 3px 0px 0px;
      }
      .modal-body {
        padding-top: 0px;
        ul {
          // padding-left: px;
          li {
            margin-bottom: 10px;
            &:hover {
              background-color: #e8e8e8;
            }
            a {
              width: 100%;
              cursor: pointer;
              display: block;
              padding: 10px;
              color: #000;
              font-size: 13px;
              line-height: 18px;
              font-weight: 400;
            }
          }
        }
      }
      .modal-footer {
        border-top: none;
        text-transform: uppercase;
        color: #999;
        padding: 0 22px 22px;
        cursor: pointer;
      }
    }
    .navbar-right {
      a {
        color: #999;
        font-size: 13px;
        line-height: 18px;
        &:hover {
          text-decoration: underline;
        }
      }
      .ship {
        a {
          font-size: 13px;
          line-height: 18px;
          color: #da552f;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
        img {
          height: 13px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .jobs {
        position: relative;
        sup {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #da552f;
          font-size: 40%;
        }
      }
      .threedot {
        a {
          font-size: 8px;
          letter-spacing: 2px;
          position: relative;
          &:after {
            position: absolute;
            right: 0;
            content: " ";
            display: block;
            width: 1px;
            height: 18px;
            border-right: 2px solid #e8e8e8;
            color: #000;
            top: 50%;
            transform: translateY(-50%);
          }
          &:hover {
            color: #666;
            text-decoration: none;
          }
        }
      }
    }
  }

  .modal-backdrop {
    top: 50px;
  }

  @media (min-width:768px) {
    .modal-dialog {
      margin: 5px auto;
    }
  }

  @media (min-width: 992px) {
    .modal-lg {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .modal-lg {
      width: 80%;
      margin: 10px auto;
    }
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }

  .des {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    #page-des {
      padding: 80px 0;
      .des-logo {
        img {
          width: 260px;
        }
      }
      h2 {
        font-size: 26px;
        line-height: 31px;
        font-weight: 700;
        color: #000;
        margin-bottom: 15px;
      }
      h2+p {
        font-size: 15px;
        line-height: 25px;
        color: #999;
        font-weight: 200;
        margin: 10px 0 20px;
      }
      .signup {
        button {
          background-color: #da552f;
          padding: 0 30px;
          height: 42px;
          border: 1px solid #da552f;
          border-radius: 3px;
          color: #fff;
          display: inline-flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          vertical-align: top;
          outline: none;
          &:hover {
            background-color: #ea532a;
            border-color: #ea532a;
          }
        }
      }
      .modal {
        background-color: #fff;
        opacity: 0.9;
        text-align: center;
        .modal-dialog {
          position: relative;
          width: 100%;
          margin: auto auto;
          #lefttop {
            margin-bottom: 10px;
            height: 100px;
            button.close {
              float: left;
              position: absolute;
              top: 30px;
              left: 30px;
              background-color: #999;
              color: #fff;
              text-align: center;
              width: 30px;
              height: 30px;
              vertical-align: middle;
              opacity: 1;
              border-radius: 50%;
              &:hover {
                background-color: #da552f;
              }
              span {
                display: inline-block;
                font-size: 23px;
                width: 100%;
                height: 100%;
              }
            }
          }
          .content-box {
            background: url(../img/miao.png)top/150px 150px no-repeat;
            padding: 160px 10px 50px;
            text-align: center;
            h2 {
              font-size: 22px;
              font-weight: 600;
            }
            .text {
              max-width: 500px;
              margin: 0 auto;
              padding-bottom: 20px;
              color: #444;
              font-size: 18px;
            }
            .btn {
              border-radius: 3px; // margin-right: 10px;
              margin-bottom: 10px;
              padding: 5px 20px;
              a {
                color: #fff;
                text-transform: uppercase;
                i {
                  margin-right: 4px;
                  font-size: 18px;
                  vertical-align: middle;
                }
              }
            }
            .btn1 {
              background-color: #00aced;
              &:hover {
                background-color: #00b4f5;
              }
            }
            .btn2 {
              background-color: #3b5998;
              &:hover {
                background-color: #305cbb;
              }
            }
            .btn3 {
              background-color: #333;
              &:hover {
                background-color: #2e2e2e;
              }
            }
            #des {
              padding-top: 10px;
              color: #999;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .main {
    padding: 30px 0;
    .main-box {
      background-color: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      margin-bottom: 20px;
      .list-header {
        padding: 20px 20px 0;
        h3 {
          border-bottom: 1px solid #e8e8e8;
          padding-bottom: 20px;
        }
        .pull-right {
          a {
            font-size: 12px;
            color: #999;
            &.active {
              color: #000;
            }
            &:first-child:after {
              content: "|";
              width: 0;
              height: 0;
              margin-left: 5px;
            }
          }
        }
      }
      #list {
        li {
          border-bottom: 1px solid #e8e8e8;
          &:hover {
            background-color: #f9f9f9;
          }
          a {
            color: #999;
            display: block;
            &:visited h4 {
              color: #999;
            }
            .list-img {
              padding: 15px 10px 15px 36px;
              text-align: center;
              img {
                width: 100%;
                min-width: 60px;
              }
            }
            .list-text {
              padding: 20px 10px; // word-break: break-all;
              h4 {
                color: #000;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 10px;
              }
              p {
                align-items: center;
              }
              .btns {
                margin-top: 10px;
                div {
                  display: inline-block;
                  flex-grow: 1;
                }
                .pull-left {
                  .topic-wrap {
                    position: relative;
                    .topic-buttons {
                      border: 1px solid #e8e8e8;
                      border-radius: 4px;
                      font-size: 11px;
                      height: 33px;
                      display: inline-flex;
                      margin-right: 4px;
                      .topic-tag {
                        padding: 0 8px;
                        align-items: center;
                        display: inline-flex;
                      }
                      .topic-tag:hover {
                        background: #ebebeb;
                      }
                      .topic-plus {
                        width: 0;
                        padding: 0;
                        border: none;
                        overflow: hidden;
                        align-items: center;
                        display: inline-flex;
                        justify-content: center;
                        font-size: 14px;
                        transition: width 0.3s ease-out;
                      }
                      &:hover .topic-plus {
                        width: 24px;
                        padding: 0 16px;
                        border-left: 1px solid #e8e8e8;
                      }
                      .topic-plus:hover {
                        background: #ebebeb;
                      }
                      &:hover .topic-plus:after {
                        content: "+";
                      }
                    }
                  }
                  .pro-name {
                    background-color: #f8f8f8;
                    &:hover {
                      background-color: #ebebeb;
                    }
                    .span {
                      display: inline-flex;
                      border-left: 0 solid #e8e8e8;
                      overflow: hidden;
                      width: 0;
                      height: 24px;
                      line-height: 21px;
                      justify-content: center;
                      transition: width .1s ease-out;
                      &:after {
                        content: "+";
                      }
                    }
                  }
                }
                .pull-right {
                  padding-right: 30px;
                  padding-top: 5px;
                  span {
                    display: inline-block;
                    border: 1px solid #e8e8e8;
                    height: 24px;
                    line-height: 24px;
                    font-size: 11px;
                    padding: 0 6px;
                    border-radius: 3px;
                  }
                  .btn1 span:first-child {
                    color: #000;
                  }
                  .fa-caret-up {
                    font-size: 1.5em;
                  }
                  .last-btn {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
        .show {
          padding: 10px;
          a {
            font-size: 1em;
            color: #999;
            &:hover {
              text-decoration: underline;
            }
          }
          .fa-caret-down {
            margin-right: 6px;
          }
        }
      }
    }
    .card-box {
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      background-color: #fff;
      padding: 20px;
      &:hover {
        cursor: pointer;
        .action .hidden-buttons {
          display: block;
        }
      }
      .card-img {
        height: 24px;
        width: 24px;
        display: inline-block;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      .card-des {
        display: inline-block;
        span {
          color: #999;
          a {
            font-size: 13px;
            line-height: 18px;
            color: #000;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .text_af:before {
          content: "\A0\B7\A0";
        }
      }
      .title {
        margin-top: 10px;
        margin-bottom: 10px;
        a {
          font-size: 20px;
          line-height: 24px;
        }
      }
      .des {
        white-space: pre-line;
        word-wrap: break-word;
        color: #999;
        font-size: 13px;
        line-height: 18px;
        border-bottom: 0;
      }
      .recommanded {
        padding-bottom: 10px;
        margin-top: 20px;
        border-bottom: 1px solid #e8e8e8;
        .names {
          text-transform: uppercase;
          margin-bottom: 10px;
          font-weight: 600;
        }
        .product {
          margin-bottom: 10px;
          img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            margin-top: -2px;
          }
          span {
            color: #999;
            flex: 1;
            vertical-align: middle;
            a {
              color: #000;
              font-size: 16px;
              line-height: 22px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .pull-right {
            button {
              background-color: #fff;
              border: 1px solid #e8e8e8;
              color: #000;
              height: 24px;
              padding: 0 8px;
              display: inline-flex;
              vertical-align: top;
              border-radius: 3px;
              align-items: center;
              justify-content: center;
              text-align: center;
              outline: 0;
              &:hover {
                background: #e8e8e8;
              }
              i {
                font-size: 1.5em;
                color: #000;
                vertical-align: bottom;
              }
              .icon {
                background-image: url(../img/upvote-burst-white.png);
                background-repeat: no-repeat;
                background-size: 351px 15px;
                height: 15px;
                width: 15px;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }
      }
      .action {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-flow: row;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1px;
        line-height: 16px;
        a {
          color: #da552f;
          &:hover {
            text-decoration: underline;
          }
        }
        .hidden-buttons {
          display: none;
          span {
            margin: 0 20px;
            color: #999;
          }
          .time {
            color: #c9c9c9;
          }
        }
      }
    }
  }

  .right-box {
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #fff;
    .img-content {
      margin-bottom: 20px;
      a {
        display: block; // padding: 20px;
        border: 1px solid #e8e8e8;
        .person {
          background-image: url(../img/crow.jpg);
          width: 100%;
          height: 112px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center right;
          background-clip: padding-box;
        }
        p {
          padding: 20px;
          font-size: 20px;
          line-height: 24px;
          color: #000;
          font-weight: 300;
        }
      }
    }
    .text-des {
      p {
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 15px;
        img {
          width: 12px;
        }
      }
      form {
        .email-box {
          width: 100%;
          font-size: 13px;
          line-height: 18px;
          input {
            border: 1px solid #e8e8e8;
            border-radius: 3px;
            width: inherit;
            padding: 0 10px;
            height: 34px;
            outline: 0;
          }
          button {
            margin-top: 20px;
            width: inherit;
            height: 34px;
            background-color: #da553f;
            color: #fff;
            padding: 0 13px;
            border: 1px solid transparent;
            border-radius: 3px;
            justify-content: center;
            outline: none;
            &:hover {
              outline: none;
              background-color: #ea532a;
              border-color: #ea532a;
            }
          }
        }
      }
    }
  }