@import 'base';
#navbar {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0px;
  .navbar-brand {
    margin-top: -10px;
    .img {
      display: inline-block;
      height: 40px;
      vertical-align: middle;
      img {
        height: 100%;
      }
    }
    .des {
      display: inline-block;
      vertical-align: middle;
      .title {
        color: #da552f;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }
      .logo-text {
        color: #999;
        font-size: 13px;
        margin-top: -1px;
      }
    }
  }
  #search-form {
    float: left;
    margin: 10px auto;
    z-index: 3;
    .search-box {
      width: 100%;
      position: relative;
      input {
        height: 30px;
        width: 280px;
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        padding: 0 10px 0 32px;
        outline: none;
        box-shadow: none;
        &::placeholder {
          color: #999;
        }
        &:hover,
        &:focus {
          outline: none;
        }
      }
      .fa {
        position: absolute;
        color: #999;
        top: 6px;
        font-size: 18px;
        left: 10px;
      }
    }
  }
  .navbar-right {
    .ship {
      a {
        color: #da552f;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        height: 13px;
        display: inline-block;
        margin-left: 4px;
      }
    }
    li {
      position: relative;
      sup {
        position: absolute;
        top: 10px;
        right: 8px;
        color: #da552f;
      }
      &.threedot {
        background-color: transparent;
        a {
          font-size: 8px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #999;
          background-color: transparent;
          &:hover,
          &:focus {
            background-color: transparent;
            color: #555;
          }
        }
        .dropdown-menu {
          left: 50%;
          transform: translateX(-50%);
          padding-top: 20px;
          min-width: 120px;
          box-shadow: none;
          .divider {
            width: 68%;
            margin: 10px auto;
          }
          &:before,
          &:after {
            position: absolute;
            bottom: 100%;
            left: 50%;
            content: "";
            height: 0;
            width: 0;
          }
          &:before {
            border: 12px solid transparent;
            border-bottom: 12px solid #ccc;
            margin-left: -12px;
          }
          &:after {
            border: 10px solid transparent;
            border-bottom: 10px solid #fff;
            margin-left: -10px;
          }
          a {
            color: #666;
            letter-spacing: 0px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &.login,
      &.signup {
        span {
          padding: 6px 12px;
          border-radius: 3px;
          text-transform: uppercase;
        }
      }
      &.login {
        span {
          color: #000;
          border: 1px solid #e8e8e8;
          &:hover {
            background-color: #e8e8e8;
          }
        }
      }
      &.signup {
        span {
          color: #fff;
          border: 1px solid #da552f;
          background-color: #da552f;
          &:hover {
            background-color: #ea532a;
            border-color: #ea532a;
          }
        }
      }
    }
  }
}

@media (max-width:768px) {
  #navbar {
    // background-color: green;
    position: relative;
    .navbar-brand {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      .des {
        display: none;
      }
    }
    #search-form {
      float: left;
    }
    .navbar-right {
      .ship,
      .ask,
      .jobs,
      .login,
      .signup {
        display: none;
      }
      .threedot {
        position: relative;
        float: right;
        right: 35px;
        .dropdown-menu {
          position: absolute;
          top: 48px;
          transform: translateX(-50%);
          border: 1px solid #ccc;
          background-color: #fff;
        }
      }
    }
  }
}