@import 'base';
#navbar {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0px;
  .navbar-brand {
    margin-top: -10px;
    .img {
      display: inline-block;
      height: 40px;
      vertical-align: middle;
      img {
        height: 100%;
      }
    }
    .des {
      display: inline-block;
      vertical-align: middle;
      .title {
        color: #da552f;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }
      .logo-text {
        color: #999;
        font-size: 13px;
        margin-top: -1px;
      }
    }
  }
  #form {
    width: 280px;
    margin-left: -200px;
    left: 50%;
    position: absolute;
    z-index: 10;
    form {
      position: relative;
    }
    input {
      width: 100%;
      padding-left: 24px;
    }
    .fa {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 20px;
      color: #999;
      z-index: 4;
    }
  }
  #form-modal {
    // position: relative;
    .modal-dialog {
      // width: 600px;
      margin: 10px auto;
    }
    .modal-header {
      position: relative;
      border-bottom: none;
      .search-form {
        padding-left: 30px;
        position: relative;
        width: 100%;
        .fa-search {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 16px;
          margin-top: 2px;
          color: #999;
        }
        #search-input {
          position: absolute;
          top: 0;
          left: 24px;
          width: 90%;
          border: none;
          outline: none;
        }
      }
    }
    .modal-content {
      box-shadow: none;
      border-radius: 3px 3px 0px 0px;
    }
    .modal-body {
      padding-top: 0px;
      ul {
        // padding-left: px;
        li {
          margin-bottom: 10px;
          &:hover {
            background-color: #e8e8e8;
          }
          a {
            width: 100%;
            cursor: pointer;
            display: block;
            padding: 10px;
            color: #000;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
          }
        }
      }
    }
    .modal-footer {
      border-top: none;
      text-transform: uppercase;
      color: #999;
      padding: 0 22px 22px;
      cursor: pointer;
    }
  }
  .navbar-right {
    .ship {
      a {
        color: #da552f;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        height: 13px;
        display: inline-block;
        margin-left: 4px;
      }
    }
    li {
      position: relative;
      sup {
        position: absolute;
        top: 10px;
        right: 8px;
        color: #da552f;
      }
      &.threedot {
        background-color: transparent;
        a {
          font-size: 8px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #999;
          background-color: transparent;
          &:hover,
          &:focus {
            background-color: transparent;
            color: #555;
          }
        }
        .dropdown-menu {
          left: 50%;
          transform: translateX(-50%);
          padding-top: 20px;
          min-width: 120px;
          box-shadow: none;
          .divider {
            width: 68%;
            margin: 10px auto;
          }
          &:before,
          &:after {
            position: absolute;
            bottom: 100%;
            left: 50%;
            content: "";
            height: 0;
            width: 0;
          }
          &:before {
            border: 12px solid transparent;
            border-bottom: 12px solid #ccc;
            margin-left: -12px;
          }
          &:after {
            border: 10px solid transparent;
            border-bottom: 10px solid #fff;
            margin-left: -10px;
          }
          a {
            color: #666;
            letter-spacing: 0px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &.login,
      &.signup {
        span {
          padding: 6px 12px;
          border-radius: 3px;
          text-transform: uppercase;
        }
      }
      &.login {
        span {
          color: #000;
          border: 1px solid #e8e8e8;
          &:hover {
            background-color: #e8e8e8;
          }
        }
      }
      &.signup {
        span {
          color: #fff;
          border: 1px solid #da552f;
          background-color: #da552f;
          &:hover {
            background-color: #ea532a;
            border-color: #ea532a;
          }
        }
      }
    }
  }
}

@media (max-width:992px) {
  #navbar {
    position: relative;
    .navbar-brand {
      .des {
        display: none;
      }
    }
    #form {
      position: absolute;
      left: 50%;
      margin-left: -150px;
    }
    .navbar-right {
      .ship,
      .ask,
      .jobs,
      .login,
      .signup {
        display: none;
      }
      .threedot {
        position: relative;
        float: right;
        right: 35px;
        .dropdown-menu {
          position: absolute;
          top: 48px;
          transform: translateX(-50%);
          border: 1px solid #ccc;
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width:768px) {
  #navbar {
    position: relative;
    .navbar-brand {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      .des {
        display: none;
      }
    }
    input {
      display: none;
    }
    .navbar-right {
      .ship,
      .ask,
      .jobs,
      .login,
      .signup {
        display: none;
      }
      .threedot {
        position: relative;
        float: right;
        right: 35px;
        .dropdown-menu {
          position: absolute;
          top: 48px;
          transform: translateX(-50%);
          border: 1px solid #ccc;
          background-color: #fff;
        }
      }
    }
  }
}